.config
.repo/
Makefile
abi/
art/
bionic/
bootable/
build/
cts/
dalvik/
developers/
development/
device/
docs/
external/
frameworks/
hardware/
libcore/
libnativehelper/
ndk/
out/
packages/
pdk/
prebuilts/
sdk/
system/
